{
    "env":{
        "browser": true,
        "node":true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": ["eslint:recommended","prettier"],
    "plugins": ["import"],
    "rules": {
        "no-undef":"off"
    }

}